.calculator-buttons {
  height: 400px;
}

.calculator {
  width: 600px;
}

.result {
  background-color: rgb(133, 133, 133);
  width: 576px !important;
  color: white;
  text-align: right;
}

body {
  background-color: #fff07c;
  color: #2b363b;
}

ul {
  background-color: #f0f7ee;
}

.title {
  color: black;
}

.operators {
  background-color: rgb(255, 145, 71);
}

button {
  border: 1px solid rgb(197, 197, 197);
}

.active-link {
  color: #87bba2;
}

a {
  text-decoration: none;
  color: #2b363b;
}

a:hover,
.title:hover {
  color: #80783e;
}

p {
  font: 1.5em sans-serif;
  line-height: 1.5;
}
